/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(75, 210, 255)
}

/* Navigation styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.navbar h1 {
  font-size: 20px;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: inline-block;
  margin-right: 10px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

/* Heading styles */
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
}

/* City card styles */
.city-card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.city-card {
  flex: 0 0 calc(20% - 40px);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.city-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.city-weather {
  font-size: 14px;
  color: #666;
}

.city-details {
  margin-top: 20px;
}

.detail {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.detail-label {
  font-weight: bold;
  margin-right: 10px;
}

.detail-value {
  color: #666;
}

/* Search form styles */
.search-form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.search-input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
  margin-bottom: 10px;
}

.search-button {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background-color: #555;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-right {
    margin-top: 10px;
  }

  .search-form-row {
    flex-direction: column;
  }

  .search-form {
    margin: 10px 0;
  }

  .search-input {
    width: 100%;
  }

  .city-card {
    flex: 0 0 calc(50% - 40px);
  }
}
