/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(75, 210, 255) 
  }
  
  /* Navigation styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar h1 {
    font-size: 20px;
  }
  
  .navbar ul {
    list-style: none;
  }
  
  .navbar ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Heading styles */
  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
  }
  
  .login-container {
    max-width: 1000px;
    height: 300px;
    margin: 0 auto;
    background-color: #b13535;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading styles */
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Form group styles */
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Login button styles */
  .login-button {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #555;
  }

  .signup-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-link a {
    color: aqua;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-right {
      margin-top: 10px;
    }
  
    .login-container {
      padding: 20px;
    }
  
    .form-group input {
      width: 100%;
      padding: 8px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
  }
  